h1 {
  font-family: 'Karla';
}

h2 {
  font-family: 'Karla';
}

p {
  font-family: 'Karla';
}

div {
  font-family: 'Karla';
}

h3 {
  font-family: 'Karla';
}

h4 {
  font-family: 'Karla';
}

h5 {
  font-family: 'Karla';
}

h6 {
  font-family: 'Karla';
}

td {
    transition: 0.3s;
}

a:link {
  text-decoration: none;
  color: rgb(200, 40, 40);
}

a:visited {
  text-decoration: none;
  color: rgb(150, 40, 40);
}

a:hover {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

a:active {
  text-decoration: none;
  color: rgb(200, 40, 40);
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

@media only screen and (max-width: 765px) {
  #map {
      width: 100%;
  }
}

.popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}