h1 {
    font-family: 'Karla';
}

.titolo {
    font-size: 50px;
}

.sottotitolo {
    font-size: 24px;
}

#selectable {
    transition: 0.3s;
}

#selectable:hover {
    transition: 0.3s;
    opacity: 0.6;
    background-color: red;
    color: white;
}

a:link {
  text-decoration: none;
  color: rgb(200, 40, 40);
}

a:visited {
  text-decoration: none;
  color: rgb(150, 40, 40);
}

a:hover {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

a:active {
  text-decoration: none;
  color: rgb(200, 40, 40);
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}